	  
	* {
	  box-sizing: border-box;
	}

	body {
	  font-family: Arial, Helvetica, sans-serif;
	}

	/* Style the header */
	header {
	  background-color: #666;
	  padding: 30px;
	  text-align: center;
	  font-size: 35px;
	  color: white;
	}

	/* Create two columns/boxes that floats next to each other */
	nav {
	  float: left;
	  width: 200px;

	  background: #ccc;
	  padding: 20px;
	}

	/* Style the list inside the menu */
	nav ul {
	  list-style-type: none;
	  padding: 0;
	  
	}

	article {
	  float: left;
	  padding: 20px;
	  width: 70%;
	  background-color: #f1f1f1;

	}

	/* Clear floats after the columns */
	section:after {
	  content: "";
	  display: table;
	  clear: both;
	}

	/* Style the footer */
	footer {
	  background-color: #777;
	  padding: 10px;
	  text-align: center;
	  color: white;
	}

	/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
	@media (max-width: 600px) {
	  nav, article {
		width: 100%;
		height: auto;
	  }
	}
	  
    .slidecontainer {
      width: 100%;
    }

    .slider {
      -webkit-appearance: none;
      width: 50%;
      height: 25px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }

    .slider:hover {
      opacity: 1;
    }

    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      background: #4CAF50;
      cursor: pointer;
    }

    .slider::-moz-range-thumb {
      width: 25px;
      height: 25px;
      background: #4CAF50;
      cursor: pointer;
    }
	
	.button {
	  background-color: #4CAF50; /* Green */
	  border: none;
	  color: white;
	  padding: 10px 0px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	  width: 140px;	  
	  border-radius: 8px;
	  border: 4px solid #008CBA;
	  cursor: pointer;
	}
	
	.button:after {
		
	}
	
	.button:active:after{
	
	}
	
	li.buttonlist{
		margin-bottom: 15px;
	}
	
	canvas { display: block; }
	